* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.navbar nav {
    height: 4rem;
}

.navbar nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.navbar nav ul {
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.titulo {
    text-align: center;
    margin-top: 2rem;
}
